/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('https://cdn.jsdelivr.net/npm/modern-normalize/modern-normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400..600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500..600&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
}

.body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 400;
  color: #2e2f42;
  background-color: #ececec;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.header {
  position: fixed;
  height: 50px;
  z-index: 999;
  padding: 20px 0;
}

.header-list {
  display: flex;
  gap: 10px;
}

.header-item {
  border-radius: 5px;
  background-color: rgb(55, 169, 211);
  height: 30px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-item:nth-child(2) {
  width: 120px;
}

.header-link {
  color: #fff;
  padding: 20px 0;
}

.container {
  min-width: 320px;
  max-width: 375px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
}

.bablo {
  font-weight: 600;
  color: red;
}

.about-wrapper {
  margin: 0 auto 50px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.text-about {
  text-align: center;
  font-size: 16px;
}

.bablo-wrapper {
  width: 100%;
  position: relative;
}

.megaSwitcher {
  height: 50px;
  width: 165px;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);
  border-radius: 25px;
  border: 5px solid #ececec;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 auto 20px;
}

.megaSwitcher::after {
  content: 'Мегабабло';
  color: #c0c0c0;
  font-size: 20px;
  font-weight: 600;
}

.megaSwitcher:checked {
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}

.megaSwitcher:checked::after {
  color: #15e38a;
}

.button {
  height: 80px;
  width: 80%;
  display: flex;
  margin: 0 auto 20px;
  text-align: center;
  color: #fff;
  background-color: rgb(0, 123, 255);
  border-color: rgb(0, 123, 255);
  font-size: 24px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.text-underbutton {
  text-align: center;
}

.counter {
  font-weight: 500;
  color: red;
}

.faq-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.faq-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq-item {
  border-radius: 5px;
  border: 1px solid;
  padding: 10px;
}

.mega-bablo {
  font-weight: 600;
  color: rgb(255, 102, 0);
  font-size: 20px;
}

.mega-bablo:hover {
  font-weight: 700;
  font-size: 22px;
}

.footer-link:hover,
.footer-link:focus {
  font-size: 17px;
  color: red;
}

@media screen and (min-width: 768px) {
  .body {
    font-size: 16px;
  }

  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .header-list {
    gap: 20px;
  }

  .megaSwitcher {
    position: absolute;
    top: 15px;
    right: 0;
  }

  .button {
    width: 350px;
  }

  .text-about {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .button {
    width: 400px;
  }

  .container {
    max-width: 1280px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .header-item:hover,
  .header-item:focus {
    transform: scale(1.03);
    background-color: antiquewhite;
  }

  .header-item:hover .header-link {
    color: #000;
  }

  .header-item:focus .header-link {
    color: #000;
  }

  .text-about {
    width: 1000px;
    font-size: 20px;
  }

  .button:hover,
  .button:focus,
  .button:active {
    background-color: #0069d9;
    border-color: #0069d9;
  }

  .faq-item:hover {
    background-color: beige;
  }
}
.loader {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
